<template>
  <div class="home my-16" align="center">
    <v-card class="py-3" width="40%" align="center">
      <v-text-field class="px-4" label="رقم المريض المميز" outlined></v-text-field>
      <v-btn color="primary" to="/patient-page">أرسل</v-btn>
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  components: {},
};
</script>
