<template>
  <div class="about">
    <template>
      <v-card>
        <v-tabs vertical>
          <v-tab>
            <v-icon left style="margin-left: auto"> mdi-account </v-icon>
            تاريخ المريض
          </v-tab>
          <v-tab>
            <v-icon left style="margin-left: auto"> mdi-upload </v-icon>
            رفع البيانات
          </v-tab>
          <v-tab>
            <v-icon left style="margin-left: auto">
              mdi-clipboard-plus-outline
            </v-icon>
            التشخيص
          </v-tab>
          <v-divider />
          <p class="font-weight-black mt-4" v-if="uploadedRecords.length">
            البيانات المرفوعة
          </p>
          <v-tab v-for="record in uploadedRecords" :key="record.title">
            {{ record.title }}
          </v-tab>

          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <!-- patient history here -->
                <v-card id="patient-history" class="pa-4 ma-5">
                  <v-row class="ma-0 pa-0" justify="center">
                    <h1>تاريخ المريض</h1>
                  </v-row>
                  <v-row>
                    <v-col cols="4">
                      <v-card width="80%">
                        <v-img
                          :aspect-ratio="1 / 1"
                          alt="patient face"
                          src="https://www.arfajaw.com/resources/aw2021.jpg"
                        >
                        </v-img>
                      </v-card>
                      <h1 v-for="detail in patientDetails" :key="detail">
                        <span class="font-weight-medium text-subtitle-1"
                          >{{ detail.title }}
                        </span>
                        <span style="font-size: x-large">
                          {{ detail.value }}
                        </span>
                      </h1>
                    </v-col>
                    <v-divider class="mx-0 px-0 my-5" vertical></v-divider>
                    <v-col cols="7.9">
                      <h1 v-for="category in patientHistory" :key="category">
                        <span class="font-weight-medium text-subtitle-1"
                          >{{ category.title }}
                        </span>
                        <span style="font-size: x-large">
                          <v-list>
                            <v-list-item
                              v-for="record in category.records"
                              :key="record"
                            >
                              <span style="font-size: x-large">
                                {{ record }}
                              </span>
                            </v-list-item>
                          </v-list>
                        </span>
                      </h1>
                    </v-col>
                  </v-row>
                </v-card>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-card id="upload-image" class="pa-4 ma-5">
                  <v-row class="ma-0 pa-0" justify="center">
                    <h1>إضافة سجل</h1>
                  </v-row>
                  <v-row>
                    <v-col cols="4">
                      <v-combobox
                        v-model="newImageRecord.title"
                        :items="imageRecordTypes"
                        hide-no-data
                        hide-details
                        label="نوع السجل"
                        outlined
                      ></v-combobox>
                    </v-col>
                    <v-col cols="8">
                      <v-file-input
                        v-model="newImageRecord.imageFile"
                        accept="image/png, image/jpeg, image/bmp"
                        @change="photoChanged"
                        label="إرفاق صورة"
                        :loading="uploadingImage"
                      ></v-file-input>
                    </v-col>
                  </v-row>
                  <v-row class="px-3" justify="center">
                    <v-card v-if="newImageRecord.imageSrc">
                      <v-img :src="newImageRecord.imageSrc"></v-img>
                    </v-card>
                  </v-row>
                  <v-row>
                    <v-col cols="12">
                      <v-textarea
                        v-model="newImageRecord.comment"
                        outlined
                        name="input-7-4"
                        label="تفاصيل السجل"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row justify="center">
                    <v-btn class="mb-2" color="primary" @click="addImageRecord"
                      >أضف الصورة</v-btn
                    >
                  </v-row>
                </v-card>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-card id="upload-dental-chart" class="pa-4 ma-5">
                  <v-row class="ma-0 pa-0" justify="center">
                    <h1>تشخيص الأسنان</h1>
                  </v-row>
                  <v-row justify="center">
                    <v-col cols="6">
                      <v-img
                        src="@/assets/dentalChart.jpg"
                        @click="diagnosticViewVisible = true"
                        height="350px"
                        contain
                      ></v-img>
                    </v-col>
                  </v-row>
                  <div class="text-center">
                    <v-dialog v-model="diagnosticViewVisible" width="500">
                      <template v-slot:activator="{ on, attrs }">
                        <v-btn
                          color="primary"
                          outlined
                          dark
                          v-bind="attrs"
                          v-on="on"
                        >
                          تسجيل تشخيص +
                        </v-btn>
                      </template>

                      <v-card>
                        <v-card-title class="headline grey lighten-2">
                          تشخيص مشكلة
                        </v-card-title>

                        <v-card-text>
                          <v-row class="mt-2">
                            <v-col cols="12">
                              <v-combobox
                                v-model="newImageRecord.title"
                                :items="imageRecordTypes"
                                hide-no-data
                                hide-details
                                label="اسم السن"
                                outlined
                              ></v-combobox>
                            </v-col>
                            <v-col cols="12">
                              <v-combobox
                                v-model="newImageRecord.title"
                                :items="imageRecordTypes"
                                hide-no-data
                                hide-details
                                label="موضع المشكلة"
                                outlined
                              ></v-combobox>
                            </v-col>
                            <v-col cols="12">
                              <v-combobox
                                v-model="newImageRecord.title"
                                :items="imageRecordTypes"
                                hide-no-data
                                hide-details
                                label="أسم المشكلة"
                                outlined
                              ></v-combobox>
                            </v-col>
                          </v-row>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="primary"
                            text
                            @click="diagnosticViewVisible = false"
                          >
                            رفع
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>
                  </div>
                  <v-treeview
                    v-model="tree"
                    :open="initiallyOpen"
                    :items="items"
                    activatable
                    item-key="name"
                    open-on-click
                  >
                    <template v-slot:prepend="{ item, open }">
                      <v-icon v-if="!item.file">
                        {{ open ? "mdi-tooth-outline" : "mdi-tooth" }}
                      </v-icon>
                      <v-icon v-else>
                        {{ files[item.file] }}
                      </v-icon>
                    </template>
                  </v-treeview>
                  <v-row justify="center">
                    <v-btn class="mb-2" color="primary" @click="addDiagnosis"
                      >إضافة التشخيص</v-btn
                    ></v-row
                  >
                </v-card>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-card
              class="px-16 pb-6 ma-5"
              v-for="item in uploadedRecords"
              :key="item.title"
            >
              <v-row class="ma-0 pa-0" justify="center">
                <h1>{{ item.title }}</h1>
              </v-row>
              <v-card><v-img :src="item.imageSrc"></v-img></v-card>
              <p class="font-weight-regular">
                {{ item.comment }}
              </p>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </template>
  </div>
</template>
<script>
export default {
  name: "PatientPage",
  data: () => ({
    //
    diagnosticViewVisible: false,
    diagnosis: [
      {
        id: 1,
        name: "سن 30",
        children: [
          { id: 2, name: "اللثة : ملتهبة" },
          { id: 3, name: "Chrome : app" },
          { id: 4, name: "Webstorm : app" },
        ],
      },
      {
        id: 5,
        name: "Documents :",
        children: [
          {
            id: 6,
            name: "vuetify :",
            children: [
              {
                id: 7,
                name: "src :",
                children: [
                  { id: 8, name: "index : ts" },
                  { id: 9, name: "bootstrap : ts" },
                ],
              },
            ],
          },
          {
            id: 10,
            name: "material2 :",
            children: [
              {
                id: 11,
                name: "src :",
                children: [
                  { id: 12, name: "v-btn : ts" },
                  { id: 13, name: "v-card : ts" },
                  { id: 14, name: "v-window : ts" },
                ],
              },
            ],
          },
        ],
      },
      {
        id: 15,
        name: "Downloads :",
        children: [
          { id: 16, name: "October : pdf" },
          { id: 17, name: "November : pdf" },
          { id: 18, name: "Tutorial : html" },
        ],
      },
      {
        id: 19,
        name: "Videos :",
        children: [
          {
            id: 20,
            name: "Tutorials :",
            children: [
              { id: 21, name: "Basic layouts : mp4" },
              { id: 22, name: "Advanced techniques : mp4" },
              { id: 23, name: "All about app : dir" },
            ],
          },
          { id: 24, name: "Intro : mov" },
          { id: 25, name: "Conference introduction : avi" },
        ],
      },
    ],
    initiallyOpen: ["public"],
    files: {
      html: "mdi-language-html5",
      js: "mdi-nodejs",
      json: "mdi-code-json",
      md: "mdi-language-markdown",
      pdf: "mdi-file-pdf",
      png: "mdi-file-image",
      txt: "mdi-file-document-outline",
      xls: "mdi-file-excel",
      issue: "mdi-alert-circle-outline",
      nerve: "mdi-transit-connection-horizontal",
    },
    tree: [],
    items: [
      {
        name: "سن رقم 1",
        children: [
          {
            name: " العصب ",
            file: "nerve",
            children: [
              {
                name: "إلتهاب",
                file: "issue",
              },
              {
                name: "خراج",
                file: "issue",
              },
            ],
          },
          {
            name: "favicon.ico",
            file: "png",
          },
          {
            name: "index.html",
            file: "html",
          },
        ],
      },
      {
        name: ".gitignore",
        file: "txt",
      },
      {
        name: "babel.config.js",
        file: "js",
      },
      {
        name: "package.json",
        file: "json",
      },
      {
        name: "README.md",
        file: "md",
      },
      {
        name: "vue.config.js",
        file: "js",
      },
      {
        name: "yarn.lock",
        file: "txt",
      },
    ],

    teethReport: [
      [
        { title: "something1" },
        { title: "something11" },
        { title: "something111" },
      ],
      [
        { title: "something2" },
        { title: "something22" },
        { title: "something222" },
      ],
      [
        { title: "something3" },
        { title: "something33" },
        { title: "something333" },
      ],
    ],
    target: document.getElementById("patient-history"),
    uploadingImage: false,
    newImageRecord: {
      imageFile: null,
      imageSrc: null,
      title: null,
      comment: null,
    },
    newTextRecord: {
      title: null,
      comment: null,
    },
    uploadedRecords: [],
    patientDetails: [
      { title: "الاسم", value: "عبدالله وليد العرفج" },
      { title: "العمر", value: "27" },
      { title: "الجنس", value: "ذكر" },
    ],
    patientHistory: [
      { title: "الحساسيات", records: ["لا يوجد"] },
      { title: "الأمراض", records: ["لا يوجد"] },
      { title: "الأدوية", records: ["لا يوجد"] },
    ],

    textRecordTypes: ["x-ray", "اخرى"],
    imageRecordTypes: ["x-ray", "صورة جوال"],
  }),
  methods: {
    addDiagnosis() {},
    getElement(elemenetTag) {
      return document.getElementById(elemenetTag);
    },
    addImageRecord() {
      this.uploadedRecords.push(this.newImageRecord);
      this.newImageRecord = {
        imageFile: null,
        imageSrc: null,
        title: null,
        comment: null,
      };
    },
    addTextRecord() {
      this.uploadedRecords.push(this.newTextRecord);
      this.newTextRecord = {
        title: null,
        comment: null,
      };
    },
    async photoChanged(e) {
      this.uploadingImage = true;
      // // let fileName = "fileName"
      // // uuid.v4();
      try {
        this.newImageRecord.imageSrc = URL.createObjectURL(e);
        // let snap = await storage.child("images/" + fileName).put(e);
        // let url = await snap.ref.getDownloadURL();
        // this.logo = url;
      } catch (err) {
        console.log(err);
      }
      this.uploadingImage = false;
    },
  },
};
</script>
<style scoped>
.guideBox h1 {
  font-size: large;
}
</style>